*{
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
:root{
    --cor-principal:white;
    --header-color:black;
    --header-cor1:whitesmoke;
    --font1:Verdana, Geneva, Tahoma, sans-serif;
    --font2: 'Passion One', cursive;
    --font3: 'asasa', cursive;
}

html,body{
    font-family: var(--font1);
    min-height: 100vh;
 ;
}
header{
    background-color: var(--header-color);
    color: var(--header-cor1);
    text-align: center;
   
    
}

header h1{
    font-family:var(--font2);
 
    padding-top:50px;
    font-size: 10vw;
    font-variant: small-caps;
    width: auto;
}

header p{
    padding-bottom: 50px;
 
}
a{
    text-decoration: none;
    color: var(--cor-principal);
    font-weight: bolder;
}
a:hover{
    text-decoration: underline;
}
main{
    font-size: 3.5vw;
    padding-bottom: 90px;
   
    line-height: 2em;
}
main p{
    padding: 40px;
    font-family: var(--font3);
}
main section{
  
    padding: 50px 30px;
    background-color: rgb(44, 43, 43);
    color: var(--cor-principal);
    display: block;

}
#primeira{
        
    background-image: url('/pacote-d012/imagens/background001.jpg');
    background-repeat: no-repeat;
    background-position:  center;
    background-attachment: fixed;
    background-size: cover;
    
}
#segundo{
    background-image: url('/pacote-d012/imagens/background002.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
main .interior{
    padding-right: 6px;
    width:46vw;
    background-color: rgba(0, 0, 0, 0.769);
    
}
.interior p{
    width: 90vw;
    padding-left: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
}
footer{
  text-align: center;

  background-color: black;

}
footer p{
    color:white; 
    padding: 10px;
   
}