@font-face {
    font-family:'intro' ;
    src: url('/fonts/Bebas_Neue/BebasNeue-Regular.ttf');
}
*{
    margin: 0px;
    padding: 0px;
}

header {
    background-color: rgba(166, 10, 106, 0.97);
    display: flex;
    justify-content: space-around;
    text-transform: capitalize;
   
    
}
header{
    justify-content: space-between;
}
header{
    padding-right: 20px;
    

}
header h1{
    margin-top: 8px;
    font-family: 'intro';
    color: white;
    margin-left: 80px;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.247);
    cursor: pointer;
    
}
header h1 span{
    color: gray;
}
header img{
    display: none;
   

}
nav{
    margin-top: 26px;
    
}

nav a{
    padding:4px 8px ;
    text-decoration: none;
    color: white;
    
    
    
}
nav a:hover{
    background-image:linear-gradient(to bottom,rgb(212, 17, 209), rgb(156, 142, 152)) ;
    border-radius: 4px;
  
    
}

main{
    color: white;
    height: 100vh;
    background-color: rgb(39, 37, 39);

    background-image:linear-gradient(to right, rgb(0, 0, 0),transparent,rgb(0, 0, 0) ),url('fotos/wp4753943.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
   
}
main .principal{
    padding-top: 20px;
    font-size: 2em;
    font-weight: 800;
    text-indent: 30px;
    text-transform: capitalize;
    
    
}
